
**/build
**/desktop.ini
/results
/test
/docker_scripts
/kernels/dispositions
core

# VSCode related
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

Data/S3DIS/
Data/S3DIS/**/Annotations/
Data/S3DIS/**/*.ply
Data/S3DIS/**/*.pkl
Data/S3DIS/input_0.030

*.ply
*.pkl